#=========================== PROJECT VARIABLES ==========================#

# Имя проекта
PROJECTNAME=

# Имя окружения для Docker Compose
COMPOSE_PROJECT_NAME=

# Тип сервера CLIENT | AI | VOICE - НЕ РАБОТАЕТ
TYPE_SERVER=

# Дополнительно включаемые сервисы MARIADB,REVERB,WEBSSH,WEBSSHCLIENT,REDIS,TEI,TRANS
ENABLED_SERVICES=

# Основной домен приложения
DOMAIN=

#=========================== VPN SETTINGS ===============================#

# Необходимость подключения VPN
# Возможные значения: required | optional | disabled
VPN_REQUIRED=optional  

# Конфигурационный файл OpenVPN
VPN_CONFIG=./configs/vpn/config.ovpn

#=========================== PHP CONFIGURATION ==========================#

# Максимальный размер загружаемых файлов
PHP_UPLOAD_MAX_FILESIZE=50M

# Максимальный размер POST-запросов
PHP_POST_MAX_SIZE=50M

# Управление режимом работы FastCGI Process Manager (FPM)
# Возможные значения: dynamic | static
PHP_FPM_PM=dynamic       

# Максимальное количество дочерних процессов FPM
PHP_FPM_MAX_CHILDREN=50

# Ограничение оперативной памяти на один процесс PHP
PHP_FPM_MEMORY_LIMIT=256M

#=========================== NGINX CONFIGURATION =======================#

# Максимальный размер тела HTTP-запроса
MAX_BODY_SIZE=100M

# Доменное имя веб-приложения
NGINX_DOMAIN=

#=========================== DATABASE SETTINGS ==========================#

# Путь к БД
DB_DATA_PATH=

# Тип используемого драйвера базы данных (mariadb|mysql|pgsql|sqlite)
DB_CONNECTION=mariadb

# Адрес сервера базы данных
DB_HOST=127.0.0.1

# Порт базы данных
DB_PORT=3306

# Имя базы данных
DB_DATABASE=

# Пользователь базы данных
DB_USERNAME=

# Пароль пользователя базы данных
DB_PASSWORD=

# Пароль администратора базы данных
DB_PASSWORD_ROOT=

#=========================== REDIS CONFIGURATION ========================#

# Путь данных REDIS
REDIS_DATA_PATH=./db/redis

# Хост Redis-сервера
REDIS_HOST=127.0.0.1

# Порт Redis-сервера
REDIS_PORT=6379

# Пароль Redis-сервера (null означает отсутствие пароля)
REDIS_PASSWORD=null


#=========================== LARAVEL APP SETTINGS ======================#

# Полный путь до каталога проекта Laravel
CLIENT_DATA_PATH=

# Окружение приложения (production|staging|local)
APP_ENV=local

# Включить отладочную информацию (true|false)
APP_DEBUG=true

# Базовый URL приложения
APP_URL=

#Язык по умолчанию!
APP_LOCALE=ru

# Метод кеширования данных (file|database|redis)
CACHE_STORE=database

# Используемый драйвер очереди задач (sync|database|redis)
QUEUE_CONNECTION=database

# URL REDIRECT (ГЕНЕРИРУЕТСЯ АВТОМАТИЧЕСКИЙ)
OAUTH_REDIRECT_URI=

# OAUTH ID получать через myidon.site
OAUTH_SECRET=

# OAUTH ID получать через myidon.site
OAUTH_CLIENT_ID=

#=========================== LARAVEL REVERB ======================#

# ID приложения
REVERB_APP_ID=

# Ключ
REVERB_APP_KEY=

# ДеБАГ
REVERB_DEBUG=true

REVERB_APP_SECRET=

# ХОСТ (ИП ИЛИ ДОМЕН)
REVERB_HOST=

# Порт
REVERB_PORT=443

# SSL
REVERB_SCHEME=https

# Максимальный размер пакетов 1МБ
REVERB_APP_MAX_MESSAGE_SIZE=1048576

#=========================== QDRANT SETTINGS ======================#

QDRANT_DATA_PATH=./db/qdrant

#=========================== WEBSSH SETTINGS ======================#

# Путь до скрипта Webssh сервера
WEBSSH_DATA_PATH=

# Путь до скрипта Webssh клиента (web-интерфейс)
WEBSSHCLIENT_DATA_PATH=

#=========================== TEI - TEXT EMBEDDINGS INFERENCE  ======================#

TEI_MODELS_PATH=./models

TEI_MODEL_ID=BAAI/bge-m3

HF_TOKEN=

# Доступные теги образов:
# - Для GPU (NVIDIA): 
#   * "1.7"             (последняя версия для Ampere/Ada Lovelace)
#   * "1.7-cuda12"      (специфичная для CUDA 12)
#   * "turing-1.7"      (для GPU серии Turing: T4, RTX 20xx)
# - Для CPU:
#   * "cpu-1.7"         (универсальный CPU-образ)
#   * "cpu-1.7-mkl"     (с оптимизацией Intel MKL)

TEI_TAG=cpu-1.7.2  # По умолчанию CPU-версия

#=========================== SentenceTransformer  ======================#



#=========================== ДЛЯ РАБОТЫ С ОБРАЗАМИ ======================#

USE_REGISTRY_IMAGES=false
PHP_IMAGE_TAG=0.1
OTHER_IMAGE_TAG=0.1