# Сертификаты и конфиг nginx

/configs/nginx/certs/*
/configs/nginx/*.conf

# VPN конфиг
/configs/vpn

# Логи
/logs

# Логи supervizor
/shared

# Генерируемая структура кода
/project_structure.html

# Игнорируем содержимое директорий backups и extracted
/backups/*
/extracted/*
/differences/*

//Настройки
.env
