networks:
  ${PROJECTNAME}servernet:
    driver: bridge
volumes:
  shared-logs:

services:

  vpn-${PROJECTNAME}:
    image: gitflic.myidon.site:80/server-other:0.1
    build:
      context: ./dockerfiles
      dockerfile: Dockerfile_other
    container_name: vpn-${PROJECTNAME}
    environment:
      - VPN_REQUIRED=${VPN_REQUIRED}
      - TUN_DEVICE=${TUN_DEVICE}
      - VPN_READY_FILE=${VPN_READY_FILE}
      - VPN_ERROR_FILE=${VPN_ERROR_FILE}
      - VPN_CONFIG=${VPN_CONFIG}
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - MKNOD
    devices:
      - /dev/net/tun:/dev/net/tun 
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.route_localnet=1
    security_opt:
      - "no-new-privileges:false"
    volumes:
      - ./logs:/logs:rw
      - ./configs/init/start-vpn.sh:/start-vpn.sh
      - ./configs/init/healthcheck-vpn.sh:/healthcheck-vpn.sh
      - ${VPN_CONFIG}:/vpn/config.ovpn
    command: sh /start-vpn.sh
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: ${VPN_IP}
    healthcheck:
      test: ["CMD", "sh", "/healthcheck-vpn.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  php-${PROJECTNAME}:
    image: gitflic.myidon.site:80/server-php:0.1
    build:
      context: ./dockerfiles
      dockerfile: Dockerfile_php
    container_name: php-${PROJECTNAME}
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    volumes:
      # Основные конфиги PHP
      - ./configs/php/cli/php.ini:/usr/local/etc/php/conf.d/00-cli.ini
      - ./configs/php/fpm/php.ini:/usr/local/etc/php/conf.d/00-fpm.ini

      # Конфиг FPM (если нужен отдельный)
      - ./configs/php/fpm/php-fpm.conf:/usr/local/etc/php-fpm.d/custom.conf

      # Остальные volume
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z,uid=33,gid=33
      - ${DIR_COPY:-/dev/null}:/var/www/html.copy:rw,z
      - ./configs/init/start-php.sh:/var/www/start-php.sh
      - ./logs/php:/var/log/php:rw,z
    entrypoint: /var/www/start-php.sh
    working_dir: /var/www/html
    environment:
      - APP_ENV=${APP_ENV}
      - APP_DEBUG=${APP_DEBUG}
      - APP_URL=${APP_URL}
      - APP_LOCALE=${APP_LOCALE}
      - CACHE_STORE=${CACHE_STORE}
      - PROCESS_TIMEOUT=300
      - PHP_FPM_LISTEN=127.0.0.1:9000

      # Коннект к БД
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

      # Для создания резервных файлов
      - DIR_COPY=${DIR_COPY}

      # Режим запуска
      - INIT_MODE=${INIT_MODE}

      # Передается для расчета размера максимально файла на отправку
      - MAX_BODY_SIZE=${MAX_BODY_SIZE}

      - PHP_UPLOAD_MAX_FILESIZE=${PHP_UPLOAD_MAX_FILESIZE}
      - PHP_POST_MAX_SIZE=${PHP_POST_MAX_SIZE}
      - PHP_FPM_PM=${PHP_FPM_PM}
      - PHP_FPM_MAX_CHILDREN=${PHP_FPM_MAX_CHILDREN}
      - PHP_FPM_MEMORY_LIMIT=${PHP_FPM_MEMORY_LIMIT}

      - QUEUE_CONNECTION=${QUEUE_CONNECTION}
      
      # Список дополнительно запускаемых сервисов
      - ENABLED_SERVICES=${ENABLED_SERVICES}

      # Внешняя авторизация
      - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
      - OAUTH_SECRET=${OAUTH_SECRET}

      # REVERB
      - REVERB_APP_ID=${REVERB_APP_ID}
      - REVERB_APP_KEY=${REVERB_APP_KEY}
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}
      - REVERB_HOST=${REVERB_HOST}
      - REVERB_PORT=${REVERB_PORT}
      - REVERB_SCHEME=${REVERB_SCHEME}
      - REVERB_APP_MAX_MESSAGE_SIZE=${REVERB_APP_MAX_MESSAGE_SIZE}
    network_mode: container:vpn-${PROJECTNAME}
    healthcheck:
      test: ["CMD", "php-fpm", "-t"]
      interval: 10s
      timeout: 5s
      retries: 3

  nginx-${PROJECTNAME}:
    image: gitflic.myidon.site:80/nginx:alpine
    container_name: nginx-${PROJECTNAME}
    cap_add:
      - NET_ADMIN
    environment:
      - NGINX_DOMAIN=${NGINX_DOMAIN}
      - MAX_BODY_SIZE=${MAX_BODY_SIZE}
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${CLIENT_DATA_PATH}:/var/www/html
      - ./configs/nginx/confs/templates:/etc/nginx/templates
      - ./configs/nginx/certs:/etc/nginx/certs
      - ./logs/nginx:/var/log/nginx:rw,z
      - ./configs/init/nginx-docker-entrypoint.sh:/docker-entrypoint.sh:ro
    network_mode: container:vpn-${PROJECTNAME}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  worker-${PROJECTNAME}:
    image: gitflic.myidon.site:80/server-php:0.1
    build:
      context: ./dockerfiles/
      dockerfile: Dockerfile_php
    container_name: worker-${PROJECTNAME}
    working_dir: /var/www/html
    restart: unless-stopped
    environment:
      - APP_ENV=${APP_ENV}
      - QUEUE_CONNECTION=${QUEUE_CONNECTION}
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    volumes:
      # Основные конфиги PHP
      - ./configs/php/cli/php.ini:/usr/local/etc/php/conf.d/00-cli.ini
      - ./configs/php/fpm/php.ini:/usr/local/etc/php/conf.d/00-fpm.ini

      # Конфиг FPM (если нужен отдельный)
      - ./configs/php/fpm/php-fpm.conf:/usr/local/etc/php-fpm.conf

      # Остальные volume
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z
      - ./configs/init/start-php.sh:/var/www/start-php.sh
      - ./logs/php:/var/log/php:rw,z

      # Логи
      - ./logs/worker:/var/log
      
      # Конфиг
      - ./configs/supervisor/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf

      # Скрипт для отправки логов
      - ./configs/scripts/log_sender.sh:/usr/local/bin/log_sender.sh

      # Скрипт старта контейнера
      - ./configs/init/start-supervisor.sh:/start-supervisor.sh
    network_mode: container:vpn-${PROJECTNAME}
    command: sh /start-supervisor.sh
    healthcheck:
      test: ["CMD-SHELL", "supervisorctl status > /var/log/worker/healthcheck.log 2>&1"]
      interval: 30s
      timeout: 10s
      retries: 3
    user: root

  ### START MARIADB ###
  mariadb-${PROJECTNAME}:
    image: gitflic.myidon.site:80/mariadb:10.8
    container_name: mariadb-${PROJECTNAME}
    working_dir: /var/lib/mysql
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'no'
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ${DB_DATA_PATH}:/var/lib/mysql
      - ./logs/mariadb:/var/log/mariadb:rw,z,noexec
      - ./configs/mariadb/conf.d:/etc/mysql/conf.d:ro
    network_mode: container:vpn-${PROJECTNAME}
    restart: unless-stopped
  ### END MARIADB ###

  ### START REDIS ###
  redis-${PROJECTNAME}:
    image: gitflic.myidon.site:80/redis:6.2-alpine
    container_name: redis-${PROJECTNAME}
    restart: unless-stopped
    command: 
      - redis-server 
      - --save 20 1 
      - --loglevel warning
      - --logfile /var/log/redis/redis.log  # Добавлено
      - --syslog-enabled no                 # Отключаем syslog
    volumes:
      - ${REDIS_DATA_PATH}:/data
      - ./logs/redis:/var/log/redis:rw,z,noexec
    network_mode: container:vpn-${PROJECTNAME}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
  ### END REDIS ###

  ### START REVERB ###
  reverb-${PROJECTNAME}:
    image: gitflic.myidon.site:80/server-php:0.1
    build:
      context: ./dockerfiles
      dockerfile: Dockerfile_php
    container_name: reverb-${PROJECTNAME}
    working_dir: /var/www/html
    restart: unless-stopped
    environment:
      # ID приложения
      - REVERB_APP_ID=${REVERB_APP_ID}
      
      # Ключ
      - REVERB_APP_KEY=${REVERB_APP_KEY}

      # Дебаг режим
      - REVERB_DEBUG=${REVERB_DEBUG:-true}

      # Секрет ключа
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}

      # Хост (IP или домен)
      - REVERB_HOST=${REVERB_HOST}

      # Порт
      - REVERB_PORT=${REVERB_PORT:-443}

      # Протокол связи
      - REVERB_SCHEME=${REVERB_SCHEME:-https}

      # Максимальный размер сообщений
      - REVERB_APP_MAX_MESSAGE_SIZE=${REVERB_APP_MAX_MESSAGE_SIZE:-1048576} # 1 MB
    volumes:
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z
      - "./configs/php/cli/php.ini:/usr/local/etc/php/conf.d/php.ini"
    network_mode: container:vpn-${PROJECTNAME}
    command: >
      sh -c "
      mkdir -p /var/log/reverb && 
      php artisan reverb:start --host=127.0.0.1 --port=8443 --hostname=${REVERB_HOST} --debug 
      >> /var/log/reverb/server.log 2>&1
      "
  ### END REVERB ###

  ### START QDRANT ###
  qdrant-${PROJECTNAME}:
    image: qdrant/qdrant:v1.8.1  # Актуальная версия
    container_name: qdrant-${PROJECTNAME}
    restart: unless-stopped
    environment:
      - QDRANT__SERVICE__HTTP_PORT=6333  # Порт HTTP API
      - QDRANT__SERVICE__GRPC_PORT=6334  # Порт gRPC (если нужно)
    volumes:
      - ${QDRANT_DATA_PATH}:/qdrant/storage  # Путь для хранения данных
      - ./logs/qdrant:/var/log/qdrant:rw,z   # Логи
    network_mode: container:vpn-${PROJECTNAME}  # Используем сеть VPN
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/readyz"]
      interval: 30s
      timeout: 10s
      retries: 3
  ### END QDRANT ###

  ### START WEBSSH ###
  webssh:
    image: gitflic.myidon.site:80/server-other:0.1
    build:
      context: ./dockerfiles
      dockerfile: Dockerfile_other
    container_name: webssh-${PROJECTNAME}
    working_dir: /usr/src/app/webssh
    restart: unless-stopped
    volumes:
      - "${WEBSSH_DATA_PATH}:/usr/src/app/webssh:rw"
    command: ["tail", "-f", "/dev/null"]
    # command: ["npm run start"]
    network_mode: container:vpn-${PROJECTNAME}
  ### END WEBSSH ###

  ### START WEBSSHCLIENT ###
  websshclient:
    image: gitflic.myidon.site:80/server-other:0.1
    build:
      context: ./dockerfiles
      dockerfile: Dockerfile_other
    container_name: websshclient-${PROJECTNAME}
    working_dir: /usr/src/app/webssh-client
    restart: unless-stopped
    volumes:
      - "${WEBSSHCLIENT_DATA_PATH}:/usr/src/app/webssh-client:rw"
    command: ["tail", "-f", "/dev/null"]
    # command: ["npm run start"]
    network_mode: container:vpn-${PROJECTNAME}
  ### END WEBSSHCLIENT ###

  ### START TEI ###
  # TEI не работает
  tei-${PROJECTNAME}:
    image: ghcr.io/huggingface/text-embeddings-inference:${TEI_TAG}
    container_name: tei-${PROJECTNAME}
    restart: unless-stopped
    environment:
      - HUGGINGFACE_HUB_CACHE=/data
      - MODEL_ID=${TEI_MODEL_ID}  # Оптимальная модель для начала
      - HF_TOKEN=${HF_TOKEN}  # Для приватных моделей (если нужно)
      - MAX_CONCURRENT_REQUESTS=100
      - MAX_BATCH_TOKENS=8192
      - POOLING=mean  # Рекомендуется для BGE моделей
    volumes:
      - ${TEI_MODELS_PATH}:/data
      - ./logs/tei:/var/log/tei:rw,z
    network_mode: container:vpn-${PROJECTNAME}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 10s
      retries: 3
  ### END TEI ###

  ### START TRANS ###
  # SentenceTransformer
  trans-${PROJECTNAME}:
    image: gitflic.myidon.site:80/server-trans:0.1
    build:
      context: ./dockerfiles
      dockerfile: Dockerfile_transformers
    container_name: trans-${PROJECTNAME}
    restart: unless-stopped
    environment:
      - DEVICE=${DEVICE:-auto}             # auto/cpu/cuda
      - MODEL_ID=${TEI_MODEL_ID}           # BAAI/bge-m3
      - HF_TOKEN=${HF_TOKEN}               # Для приватных моделей
      - BATCH_SIZE=32                      # Оптимально для CPU/GPU
      - NORMALIZE_EMBEDDINGS=true          # Обязательно для BGE
      - HUGGINGFACE_HUB_CACHE=/data        # Путь к кешу
      - UVICORN_WORKERS=${UVICORN_WORKERS:-auto} # auto/число
    volumes:
      - ${TEI_MODELS_PATH}:/data
      - ./configs/transformer:/app  # Монтируем всю папку
      - ./logs/trans:/var/log/transformers
    network_mode: container:vpn-${PROJECTNAME}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    command: /app/start.sh
  ### END TRANS ###