# Язык интерфейса (ru) | 界面语言 (cn) | Interface language (en)
LANGUAGE=

# Администраторский логин и пароль | 管理员登录和密码 | Administrator login and password
ADMIN_LOGIN=
ADMIN_PASSWORD_HASH=

# Секретный ключ приложения | 应用程序密钥 | Application secret key
APP_SECRET_KEY=