# Генерируемая структура кода
project_structure.html
codereader_config.json
codereaderForAIv2.py

# Лог сервиса
service.log
stderr.log
stdout.log

# Лишние файлы
.qwenignore
run.bat
SERVER_TYPES_GUIDE.md
STARTER_ARCHITECTURE.md
test.txt
service_mode.py

# Папки которые не нужны
/files/configs

# Игнорируем содержимое директорий backups и extracted
/backups/*
/extracted/*
/differences/*
/docker/*
/logs/*
/.vscode
**/__pycache__/

/files/logs
/files/web/ssl
files/updates
files/web/sessions/
files/update_check_state.json

# Файл настроек стартера
temp.txt
.env
.vscode

/venv
venv8*/
processes.json
starter.pid
fix_remote.py
fix_update.py