# Генерируемая структура кода
project_structure.html
codereader_config.json
codereaderForAIv2.py

# Лог сервиса
service.log

# Игнорируем содержимое директорий backups и extracted
/backups/*
/extracted/*
/differences/*
/docker/*
/logs/*

# Игнорируем все директории __pycache__, независимо от местоположения
**/__pycache__/

# Файл логов запуска для предотвращения зацикеливания запуска при обновлении
/starter_files/logs
/starter_files/web/ssl
starter_files/updates

# Файл настроек стартера
temp.txt
.env

/venv
venv8*/